#div_main{
    margin-left: 20%;
    margin-top: 200px;
    border: 2px solid black;
    width: 350px;
    height: 460px;
    background-color: #ebebeb;
}

body{
    background-color: burlywood;
}

#visor{
    background-color: #ebebeb;
    border: 5px solid black;
    text-align: right;
    margin-top: 50px;
    margin-left: 8px;
    padding-right: 15px;
    height: 50px;
    width: 310px;
    font-size: 30px;
    font-weight: 800;
}

#primeiroValor{
    position: absolute;
    background-color: #ebebeb;
    margin-top: 3%;
    margin-left: 1%;
    border: none;
    height: 11px;
    padding: 0px;
}

.operadores{
    border: none;
    background-color: #ffffff;
    font-size: 120%;
    width: 77.5px;
    height: 50px;
    margin-top: 6px;
    margin-left: 3px;
}

#nada{
    margin-left: 10px;
}